<template>
    <InfoMeteorologica v-bind:llista-ciutats="this.america"></InfoMeteorologica>
</template>

<script>
    import InfoMeteorologica from "@/components/InfoMeteorologica";

    export default {
        name: 'app',
        data: function() {
            return {
                america: [
                    'New York',
                    'Buenos Aires',
                'Bogota',
                'Quito',
                'Montevideo']
            }
        },
        components: {
           InfoMeteorologica
        }

    }
</script>

<style scoped>

</style>