<template>
    <InfoMeteorologica v-bind:llista-ciutats="this.asia"></InfoMeteorologica>
</template>

<script>

    import InfoMeteorologica from "@/components/InfoMeteorologica";
    export default {
        name: 'app',
        data: function() {
            return {
                asia: [
                    'Pekin',
                    'Tokyo',
                'Kioto',
                'Sapporo']
            }
        },
        components: {
            InfoMeteorologica

        },

    }
</script>

<style scoped>

</style>