<template>
    <section>
        <h2>City Weather</h2>
        <table>
            <tr>
                <td><strong>Ciudad:</strong> <span>{{this.ciutatActual.name}}</span><br/></td>
                <td><strong>Tiempo actual:</strong> {{ this.ciutatActual.weather[0].description }}<br/></td>
                <td> <strong>Temperatura actual:</strong> {{ this.ciutatActual.main.temp}}<br/></td>
            </tr>
        </table>
    </section>
</template>

<script>

    export default {

        props:['city'],

        data: function () {
            return {
                ciutatActual:
                    {
                        "coord": {"lon": 145.77, "lat": -16.92},
                        "weather": [{"id": 803, "main": "Clouds", "description": "broken clouds", "icon": "04n"}],
                        "base": "cmc stations",
                        "main": {
                            "temp": 293.25,
                            "pressure": 1019,
                            "humidity": 83,
                            "temp_min": 289.82,
                            "temp_max": 295.37
                        },
                        "wind": {"speed": 5.1, "deg": 150},
                        "clouds": {"all": 75},
                        "rain": {"3h": 3},
                        "dt": 1435658272,
                        "sys": {
                            "type": 1,
                            "id": 8166,
                            "message": 0.0166,
                            "country": "AU",
                            "sunrise": 1435610796,
                            "sunset": 1435650870
                        },
                        "id": 2172797,
                        "name": "Barcelona",
                        "cod": 200
                    }
            }
        },

        methods: {
            async crida(ciutat) {
                var url = 'https://api.openweathermap.org/data/2.5/weather?q=' + ciutat + '&units=metric&lang=ca&appid=f87317bd4e1e67eaf66d12d64449e177';

                try {
                    var response = await fetch(url);
                    var data = await response.json();

                    this.ciutatActual = data;
                }
                catch(err) {
                    this.console.log(err);
                }
            }
        },

        created: function () {
            this.crida(this.city);
        },

        watch: {
            city: function(value){

                this.crida(value);
            }
        },
    };
</script>


<style scoped>

</style>