<template>
    <InfoMeteorologica v-bind:llista-ciutats="this.europa"></InfoMeteorologica>
</template>

<script>

    import InfoMeteorologica from "@/components/InfoMeteorologica";
    export default {
        name: 'app',
        data: function() {
            return {
                europa: [
                    'Barcelona',
                    'Lleida',
                    'Zaragoza',
                    'Sevilla',
                    'Madrid',
                    'Paris',
                    'Melbourne',
                    'Moscow',
                    'Pekin',
                    'Marra' +
                    'kech']
            }
        },
        components: {
            InfoMeteorologica

        },

    }
</script>

<style scoped>

</style>