<template>
    <section class="container notification content is-large ">

        <span class="custom-dropdown small">
        <select class="select" v-model="ciutatSelected">
          <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat"> {{ ciutat }} </option>
        </select>
        </span>

        <current v-bind:city="ciutatSelected"></current>

    </section>
</template>

<script>
    import currentWeather from "./CurrentWeather.vue";


    export default {
        props:['llistaCiutats'],

        data: function () {
            return {
                ciutatSelected: ""
            }
        },

        created: function () {
            this.ciutatSelected = this.llistaCiutats[0];
        },

        components: {

            current: currentWeather
        }
    }
</script>

<style>

    select{

        background-color: white;
        padding-right: 20px;
        text-align: center;
    }

</style>