<template>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <router-link to="/america" class="navbar-item" active-class="is-active">America</router-link>
            <router-link to="/asia" class="navbar-item" active-class="">Asia</router-link>
            <router-link to="/europa" class="navbar-item" active-class="">Europa</router-link>
        </div>
    </nav>
</template>

<script>

    export default {
        name: "Menu"
    }
</script>

<style scoped>

</style>