<template>
 <div id="image">
  <div id="app">
    <appMenu id="app2"></appMenu>
    <router-view></router-view>
  </div>
 </div>
</template>

<script>
  import Menu from './components/Menu.vue';

  export default {
    name: 'app',
    components: {
      appMenu: Menu
    }
  }
</script>

<style>
  #app {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 118px;
    margin-left: 118px;
      background-image: url("https://i.pinimg.com/originals/49/b5/74/49b574a68ec246f73f3b38a62bafb829.jpg");


  }
#image{

}

  #app2 {
    margin-top: 50px;
    margin-right: 130px;
    margin-left: 130px;

  }


</style>